/* // Bootstrap overrides
// @import './base/bootstrap_overrides';

// Bootstrap
// @import './vendor/bootstrap'; */

/* @import './normalize.css'; */

/* / */

/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --bg: #6a826a;
  --container: #fffbef;
  --accent-bg: #b99b6c;
  --text: #6a826a;
  --header-text: #b99b6c;
  /* --text-light: #585858; */
  --border: #6a826a;
  --accent: #aa5757;
  --content-column-width: 750px;
  /* this width was 200 but i stretched it out to fit the gif */
  --sidebar-column-width: 287px;
  --line-padding: 8px;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}


/* Format headers */

h1 {
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--header-text);
}

h2 {
  font-size: 1.5rem;
  margin-top: var(--line-padding);
  margin-bottom: var(--line-padding);
  color: var(--header-text);
}

h3 {
  font-size: 1.2rem;
  color: var(--header-text);
  margin-top: var(--line-padding);
  margin-bottom: var(--line-padding);
}

/* Format links */
a,
a:visited {
  color: var(--accent);
  display: inline-block;
  transition: transform .07s ease-out;
}

a:hover {
  text-decoration: none;
  transform: translate(0px, -2px);
}

hr {
  border-top: 2px solid var(--border);
}

body {
  color: var(--text);
  background: var(--bg);
  /* background-size: cover;
  background-attachment: fixed; */
  line-height: 1.3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100vh;
  /* align-items: flex-start; */
  /* background-image: url("/img/l_ash02_big.jpg"); */
  /* font-size: 1.15rem; */
  /* height: 100vh; */
  /* margin: 20px; */
  /* padding: 0 1em; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--container);
  width: var(--content-column-width);
  padding: 15px;
  min-height: max-content;
  box-sizing: border-box;
  /* // margin: 0 auto; */
  /* border: 2px solid var(--border); */
  /* border-radius: 15px; */
}

aside {
  position: sticky;
  height: min-content;
  top: 20px;
  width: var(--sidebar-column-width);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid var(--border); */
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: 5px solid var(--border);
  background-color: var(--border);
  /* top: -70px; */
  z-index: 1;
  position: relative;
  color: var(--container)
}

nav {
  display: flex;
  flex-direction: column;
}

.sidebar-contents {
  padding: 65px 15px 15px 15px;
  border-radius: 15px;
  background: var(--container);
  box-sizing: border-box;
  height: min-content;
  width: 100%;
  top: -50px;
  position: relative;
  z-index: -1;
}


.link_tiles_grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.link_tiles_grid>a,
.link_tiles_grid>a>img {
  width: 230px;
}

.link_tiles_grid>a>img {
  background-color: var(--border);
  height: 230px;
  color: var(--container)
}

@media all and (max-width: 1100px) {
  body {
    flex-direction: column-reverse;
    max-width: 100%;
    justify-content: start;
    /* this is a pretty bad solution */
    margin: -20px 20px 20px;
    gap: 0;
    align-items: center;
  }

  main {
    max-width: 100%;
    flex-grow: 1;
    margin-bottom: -20px;
  }

  aside {
    position: relative;
    width: 100%;
    max-width: var(--content-column-width);
    margin-top: 0;
    padding-top: 5px;
  }

  .sidebar-contents {
    border-radius: 0;
    width: 100%;
    z-index: 0;
  }

  .sidebar-contents>img {
    display: none;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    width: 100%;
  }

  .sidebar-contents {
    /* padding: 15px; */
    margin: 0 0 -25px 0;
    /* width: min-content; */
  }

  aside>a:hover {
    transform: none;
  }

  /* the commented out calcs work in firefox and mobile, but not in chromium */
  .link_tiles_grid>a,
  .link_tiles_grid>a>img {
    max-width: 230px;
    width: calc((100vw - 117px)/3);
    /* width: calc((100vw - 100px)/3); */
  }

  .link_tiles_grid>a>img {
    max-height: 230px;
    height: calc((100vw - 117px)/3);
    /* height: calc((100vw - 100px)/3); */
  }

  /* switch to two tiles when it gets really small */
  @media all and (max-width: 545px) {

    .link_tiles_grid>a,
    .link_tiles_grid>a>img {
      width: calc((100vw - 102px)/2);
      /* width: calc((100vw - 85px)/2); */
    }

    .link_tiles_grid>a>img {
      height: calc((100vw - 117px)/2);
      /* height: calc((100vw - 100px)/2); */
    }
  }
}

.page-content {
  /* TODO fix this magic number */
  min-height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.date-tag {
  font-size: smaller;
}

article>p {
  margin-top: 0;
}

details {
  margin-bottom: 16px;
}

.blog-post img {
  max-width: 100%;
}

.pages-article>p {
  margin-top: 0;
  margin-bottom: 0;
}

article>iframe {
  padding-top: var(--line-padding);
  padding-bottom: var(--line-padding);
}

header>h1 {
  margin-top: 0;
}

footer {
  margin-top: 25px;
}


.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-buttons-bottom {
  justify-self: flex-end;
}

.bouncy {
  animation: bounce 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    animation-delay: 3s; /* add a 3 second delay before restarting the animation */
  }
}

.updates-field {
  border: 2px solid var(--bg);
  padding: 5px;
  margin-top: var(--line-padding);
  margin-bottom: var(--line-padding);
}

.updates-field p {
  margin: 0;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--line-padding);
  margin-top: 15px
}

.gallery>a {
  line-height: 0;
}

.gallery>a>img {
  box-sizing:border-box;
  background-color: var(--accent-bg);
  border: 2px solid var(--border);
}

.trans
{
	transition: all 0.25s ease;
}

.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 0.5 ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
}

/* body > footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
} */

/* // body > header {
//   text-align: center;
//   padding: 0 0.5rem 2rem 0.5rem;
//   box-sizing: border-box;
// }

// body > header h1 {
//   max-width: 100%;
//   margin: 1rem auto;
// } */

/* Format navigation */
/* // nav {
//   border-bottom: 1px solid var(--border);
//   font-size: 1rem;
//   line-height: 2;
//   padding: 1rem 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   padding-bottom: 2rem;
// }

// nav a {
//   margin: 1rem 1rem 0 0;
//   color: var(--text) !important;
//   padding: 0.1rem 1rem;
// }

// nav a:hover {
//   color: var(--accent) !important;
// }

// nav a:last-child {
//   margin-right: 0;
// } */

/* Reduce nav side on mobile */
/* // @media only screen and (max-width: 750px) {
//   nav a {
//     border: none;
//     padding: 0;
//     color: var(--accent);
//     text-decoration: underline;
//     line-height: 1;
//   }
// } */

/* Add a little padding to ensure spacing is correct between content and nav */
/* // main {
//   padding-top: 1.5rem;
// } */

/* Reduce header size on mobile */
/* // @media only screen and (max-width: 720px) {
//   h1 {
//     font-size: 2.5rem;
//   }

//   h2 {
//     font-size: 2.1rem;
//   }
// } */