<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    {% if title %}
      <title>{{ site.title }} - {{ title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
  </head>
  <body>
    <main>
      <header>{% include 'partials/header.njk' %}
        <nav>{% include 'partials/navigation.njk' %}</nav>
      </header>
      <article>
          <h1>{{ title }}</h1>
          {{ content | safe }}
      </article>
      <footer>{% include 'partials/footer.njk' %}</footer>
    </main>
    <div class="aside">{% include 'partials/sidebar.njk' %}</div>
    </div>
    </div>
  </body>
</html>

