🦶 hosted on <a href="https://neocities.org/">neocities</a> (<a href="https://neocities.org/site/uuupah">me</a>) (<a href="https://github.com/uuupah/11ty_neocities">source</a>) // credits: <a href="https://twitter.com/Neverlessart">profile pic</a> // <a href="https://mini-moss.tumblr.com/post/713998331023654912/mini-moss-respite-twitter-instagram-print">banner image</a> // <a href="https://www.deviantart.com/dav-19/art/Pixel-Yui-326815301">sidebar image<a/> 🦶