🦶 hosted on <a href="https://neocities.org/">neocities</a> (<a href="https://neocities.org/site/uuupah">me</a>) (<a href="https://github.com/uuupah/11ty_neocities">source</a>) profile picture c/o <a href="https://twitter.com/Neverlessart">neverless</a> banner image c/o <a href="mini moss">mini moss</a> 🦶