<div class="link-tiles-grid">
    <a href="/pages/">
        <img src="_assets/img/most_recent.jpg" alt=""/>
        all posts
    </a>
    <a href="/journal_html/">
        <img src="_assets/img/journal.jpg" alt=""/>
        journal.html
    </a>
    <a href="/blog/">
        <img src="_assets/img/blog.jpg" alt=""/>
        blog
    </a>
    <a href="/music/">
        <img src="_assets/img/music.jpg" alt=""/>
        music
    </a>
    <a href="/art/">
        <img src="_assets/img/art.jpg" alt=""/>
        art
    </a>
    <a href="/infinite_nightmare/">
        <img src="_assets/img/infinite.jpg" alt=""/>
        infinite nightmare
    </a>
    <a href="/lists/">
        <img src="_assets/img/lists.jpg" alt=""/>
        lists
    </a>
    <a href="/games/">
        <img src="_assets/img/game.jpg" alt=""/>
        games
    </a>
</div>
