<div class="link_tiles_grid">
    <a href="/">
        <img src="_assets/img/blog.jpg"/>
        blog
    </a>
    <a href="/">
        <img src="_assets/img/music.jpg"/>
        music
    </a>
    <a href="/">
        <img src="_assets/img/games.jpg"/>
        games
    </a>
    <a href="/">
        <img src="_assets/img/lists.jpg"/>
        lists
    </a>
</div>
