<div class="link_tiles_grid">
    <!-- work out how to do this automatically -->
    <a href="{{ collections.post[-1].page.url }}">
        <img src="_assets/img/most_recent.jpg"/>
        newest!
    </a>
    <a href="/blog/">
        <img src="_assets/img/blog.jpg"/>
        blog
    </a>
    <a href="/music/">
        <img src="_assets/img/music.jpg"/>
        music
    </a>
    <a href="/games/">
        <img src="_assets/img/game.jpg"/>
        games
    </a>
    <a href="/lists/">
        <img src="_assets/img/lists.jpg"/>
        lists
    </a>
</div>
