<nav>
  <a href="/">/</a><br/>
  <a href="/blog/">/blog</a><br/>
  <a href="/about/">/about</a><br/>
  <a href="/links/">/links</a><br/>
  <a href="/contact/">/contact</a>
</nav>
{#INFO: It's important to stucture your links with the slashes / on either side of the href /about/ to ensure the links are always from the root of the site.#}