<nav>
  <a href="/">/</a>
  <a href="/pages/">/pages</a>
  <a href="/about/">/about</a>
  <a href="/links/">/links</a>
  <a href="/contact/">/contact</a>
  <a href="/blog/">/blog</a>
</nav>
{#INFO: It's important to stucture your links with the slashes / on either side of the href /about/ to ensure the links are always from the root of the site.#}