<nav>
  <a href="/">/</a>
  <a href="/sitemap/">/sitemap</a>
  {# <a href="/about/">/about</a> #}
  <a href="/links/">/links</a>
  <a href="/credits">/credits</a>
  <a href="http://uuupah.123guestbook.com/">/guestbook</a>
  <a href="/blog/">/blog</a>    
  <a href="/lists/">/lists</a>    
  <span><a href="https://hotlinewebring.club/uuupah/previous">&lt;==</a> <a href="https://hotlinewebring.club/">hotline webring</a> <a href="https://hotlinewebring.club/uuupah/next">==&gt;</a></span>
</nav>
{#INFO: It's important to stucture your links with the slashes / on either side of the href /about/ to ensure the links are always from the root of the site.#}