<a href="/" class="profile-img-link">
    <img class="profile-img" src="/_assets/img/dp/0.jpeg" alt=""/>
</a>
<div class="sidebar-contents">
    {% include 'partials/navigation.njk' %}
    <img src="/_assets/img/143.gif" alt=""/>
</div>

{# <script>
    document.getElementById("profile-image").src="/_assets/img/dp/" + Math.floor(Math.random()*3) + ".jpg";
</script> #}