<a href="/" class="profile-img-link">
    <img class="profile-img" src="/_assets/img/dp.webp" alt=""/>
</a>
<div class="sidebar-contents">
    {% include 'partials/navigation.njk' %}
    <span><a href="https://hotlinewebring.club/uuupah/prev">&lt;==</a> hotline webring <a href="https://hotlinewebring.club/uuupah/next">==&gt;</a></span>
    <img src="/_assets/img/143.gif" alt=""/>
</div>