<a href="/" class="profile-img-link">
    <img class="profile-img" src="/_assets/img/dp.webp" alt="A red panda rendered in chinese inks."/>
</a>
<div class="sidebar-contents">
    {% include 'partials/navigation.njk' %}
    <img src="/_assets/img/143.gif" alt="The character Yui Hirasawa from the anime K-on floating ina cube of water in a inner tube. The image has been rendered in a chibi, pixel art style with a short looping animation of Yui floating up and down."/>
</div>